apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: dev-
images:
- name: 408627781643.dkr.ecr.ap-northeast-2.amazonaws.com/eks-hands-on
  newName: 408627781643.dkr.ecr.ap-northeast-2.amazonaws.com/eks-hands-on
  newTag: a54931d9
resources:
- ../base
patchesStrategicMerge:
- deployment-patch.yaml
- ingress-patch.yaml
- service-patch.yaml
